
<%
var pageTitle = page.title || '';
if (is_home()) pageTitle = '主页';
if (is_archive()) pageTitle = '目录';
if (is_tag()) pageTitle = '标签：' + page.tag;
if (is_category()) pageTitle = '分类：' + page.category;
if (is_month()) pageTitle += ': ' + page.month + '/' + page.year;
if (is_year()) pageTitle += ': ' + page.year;
pageTitle += ' | ' + config.title;
%>

<!DOCTYPE html>
<html lang="<%=config.language%>">
<head>
  <meta charset="UTF-8">
  <title><%=pageTitle%></title>
  <% if (theme.stylesheets !== undefined && theme.stylesheets.length > 0) { %>
    <!-- stylesheets list from _config.yml -->
    <% theme.stylesheets.forEach(url => { %>
      <link rel="stylesheet" href="<%=url%>">
    <% }); %>
  <% } %>
</head>
<body>
  <div id="menu-outer">
    <div id="menu-inner">
      <% Object.keys(theme.menu).forEach(key => { %>
        <a class="menu" href="<%=theme.menu[key]%>"><%=key%></a>
      <% }); %>
    </div>
  </div>

  <div id="content-outer">
    <div id="content-inner">
      <%- body %>
    </div>
  </div>

  <div id="bottom-outer">
    <div id="bottom-inner">
      <p>
        Site by
        <a href="<%= url_for("/about") %>"><%=config.author%></a>
        <br />
        using
        <a href="http://hexo.io">hexo blog framework</a>
        <br />
        with theme
        <a href="https://github.com/Grazee/hexo_noone">Noone</a>.
        <!-- 备案 -->
        <br />
        <a href="<%= theme.record_url%>"><%= theme.record%></a>.
      </p>
    </div>
  </div>

  <% if (theme.scripts !== undefined && theme.scripts.length > 0) { %>
    <!-- scripts list from theme config.yml -->
    <% theme.scripts.forEach(url => { %>
      <script src="<%=url%>"></script>
    <% }); %>
  <% } %>

</body>
</html>
