<% if (page.photos.length > 0) { %>
  <div id="post-banner-outer" style="background-image: url(<%= page.photos[0]%>);">
<% } else { %>
    <div id="post-banner-outer" style="background-image: url(<%- url_for(theme.banner_image)%>);">
<% } %>
<div id="post-banner-inner">
  <p id="banner-title"><%=page.title%></p>
  <time class="date" datetime="<%=page.date.toJSON()%>">
    <%=date(page.date)%>
    </time>
  </div>
</div>

<article id="post">
  <%-page.content%>
</article>

<div id="paginator">
  <%-paginator()%>
</div>
