
<% if (page.posts.length > 0) { %>
  <div id="recent-posts">
    <% page.posts.sort('date', -1).limit(10).each(post => { %>
      <div class="recent-post-item">
        <p>
          <% if (post.categories.length > 0) { %>
            <!-- 标签 -->
            <% post.categories.limit(1).each(c => { %>
              <span class="post-tag">
                <%- trim(c.name) %>
              </span>
            <% }); %>
          <% } %>
          <!-- 标题 -->
          <span class="post-title">
            <a href="<%=url_for(post.path)%>"><%=post.title%></a>
          </span>
        </p>
        <% if (post.photos.length > 0) { %>
          <!-- 图片
               <!-- <div class="post-image" style="background: url(<%- url_for(post.photos[0]) %>) center center no-repeat;"> -->
          <!-- </div> -->
        <% } %>
        <!-- 摘要 -->
        <p class="post-excerpt">
          <% if (post.excerpt.length > 0) { %>
            <%- strip_html(post.excerpt)%>
          <% } else { %>
            <%- truncate(strip_html(post.content), {length: 100})%>
          <% } %>
        </p>
        <!-- 时间 -->
        <time class="post-date" datetime="<%=post.date.toJSON()%>">
          <%=date(post.date)%>
        </time>
        <!-- 分割线 -->
        <hr class="post" />
      </div>
    <% }); %>
  </div>
<% } %>
